/* style.css */



/* ===== board ===== */


table {
    border-collapse: collapse;
}

td {
    border: 1px solid #999;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: center;
}

td.visited {
    background-color: #ccc;
}


/* ===== player ===== */


.player {
/*    padding: 20px;*/
    background-color: red;
}

.blockcss {
    background-color: black;
    
}

.gold {
    background-color: darkgoldenrod;
    text-decoration-color: black;
}

.goldcss {
    background-color: darkgoldenrod;
    text-decoration-color: black;
}

.block {
    text-decoration-color: darkorange;
}
