/* style.css */



/* ===== board ===== */


table {
    border-collapse: collapse;
}

td {
    border: 1px solid #999;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: center;
}

td.visited {
    background-color: #ccc;
}


/* ===== player ===== */


.player {
/*    padding: 20px;*/
    background-color: orangered;
    height: 80%;
    width: 100%;
    padding-top: 20%;
    text-align: center;
    font-size: 60%;
}

.blockcss {
    background-color: black;
    
}

.goldcss {
    background-color: darkgoldenrod;
    text-decoration-color: black;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.5em;
}

.block {
    text-decoration-color: darkorange;
}